@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=News+Cycle:wght@400;700&family=Playfair+Display:ital,wght@0,900;1,900&display=swap');

:root {
    font-family: "Bebas Neue", sans-serif;
    background-color: rgb(20, 20, 20);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    width: 100%;
    z-index: 1000;
    text-shadow: 0px 2px 2px rgba(20, 20, 20, .7);
}

nav .logo {
    font-weight: 700;
    font-size: 28px;
}

nav .buttons ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav li {
    margin: 0px 10px;
    font-size: 18px;
}

.menu-bars {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: solid 2px rgba(199, 199, 199, .7);
    aspect-ratio: 3/2.5;
    cursor: pointer;
    clip-path: polygon(15% 0, 70% 0%, 100% 0, 100% 85%, 85% 100%, 0 100%, 0% 70%, 0 15%);
}

.menu-bars::before {
    position: absolute;
    content: '';
    width: 80%;
    height: 3px;
    background-color: rgba(199, 199, 199, .7); 
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-bars::after {
    position: absolute;
    content: '';
    width: 80%;
    height: 3px;
    background-color: rgba(199, 199, 199, .7); 
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav a {
    text-decoration: none;
}

.featured-movie {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden; 
    font-family: "Bebas Neue", sans-serif;
}

.featured-movie img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.71) contrast(0.94);
    transform-origin: center;
}

.featured-movie img.animate {
    animation: zoomAndFade 8s linear;
}

.featured-movie::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(to top, rgb(20, 20, 20, 1) 0%, rgb(20, 20, 20, 0) 100%);
}

.featured-movie .text {
    position: absolute;
    bottom: 5%; 
    left: 5%; 
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
    text-shadow: 0px 2px 4px rgb(22, 22, 22, .9);
}

.featured-movie .text h1 {
    font-size: 6rem;
}

.featured-movie .text h3 {
    font-size: 4rem;
}

.animate-img {
    animation: zoomAndFade 8s linear;
}

.animate-title {
    animation: slideRightAndFade 8s ease-in-out forwards; /* animation for text h1 */
}

.animate-subtitle {
    animation: slideUpAndFade 8s ease forwards; /* animation for text h3 */
}

.featured-buttons {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.movie-link {
    padding: 12px 30px;
    font-size: 1.1rem;
    text-decoration: none;
    background-color: rgb(20, 20, 20);
    display: inline-block; 
    text-transform: capitalize;
    letter-spacing: 1px;
    transform-origin: left;
    transition: 0.3s;
    overflow: hidden;
    cursor: pointer;
}

.movie-link:hover {
    background-color: white;
    color: black;
}

.movie-list {
    padding: 20px;
}

.movie-list h3 {
    font-size: 1.5rem;
    color: rgb(231, 231, 231);
}

.movie {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.no-scroll {
    overflow: hidden !important;
}

.movie-backdrop {
    height: inherit;
    width: inherit;
    object-fit: cover;
    filter: brightness(0.71) contrast(1.06) saturate(1.11);
    animation: extendSides 1s forwards;
}

.movie::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(to top, rgb(20, 20, 20, 1) 0%, rgb(20, 20, 20, 0) 100%);
}

.movie-header {
    position: absolute;
    z-index: 2;
    bottom: 2%;
    left: 2%;
}

.movie-title {
    font-size: 6rem;
    line-height: 6rem;
    max-width: 70%;
    opacity: 0;
}

.movie-title.animate {
    animation: slideRight 1s forwards;
}

.movie-genre-list {
    margin-top: 5px;
    margin-bottom: 20px;
}

.movie-genre {
    padding: 4px 30px;
    text-decoration: none;
    border: solid 2px white;
    border-radius: 30px;
    font-size: 1.35rem;
    opacity: 0; 
    transition: 0.3s;
}

.movie-genre:hover {
    background-color: rgb(231, 216, 8);
    border: solid 2px rgb(231, 216, 8);
    color: black;
}

.movie-genre.animate {
    animation: slideRight 1s forwards;
}

.movie-poster {
    position: absolute;
    z-index: 3;
    width: 200px;
    height: 300px;
    transform: translate(-50%,-50%);
    bottom: -20%;
    right: 0%;
    clip-path: polygon(15% 0, 70% 0%, 100% 0, 100% 85%, 85% 100%, 0 100%, 0% 70%, 0 15%);
    box-shadow: 0px 0px 4px rgba(20, 20, 20, .1);
    opacity: 0;
    animation: slideUp 1s ease-in-out forwards;
    animation-delay: 1.5s;
}

.movie-poster img {
    height: inherit;
    width: inherit;
    object-fit: contain;
}

.movie-details {
    font-family: "News Cycle", sans-serif;
    height: 100vh;
    width: 100%;
    padding: 8rem 4rem;
}

.movie-overview {
    margin-bottom: 8rem;
    font-size: 1.5rem;
}

.movie-rating {
    display: flex;
    align-items: center;
}

.movie-rating h3 {
    font-size: 6rem;
    margin-right: 40px;
}

.movie-rating span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 12rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    color: black;
    font-size: 2.25rem;
    font-weight: 700;
}

.cast h1 {
    margin: 20px 10px;
    font-size: 3rem;
}

.cast-wrapper {
    display: flex;
    align-items: center;
}

.actor {
    width: 200px;
    height: 400px;
    list-style-type: none;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s;
    overflow: hidden; 
}

.actor img {
    height: 100%; 
    width: 100%; 
    object-fit: cover; 
    filter: grayscale(40%) brightness(0.6) contrast(1.02);
    cursor: pointer;
    transition: 0.3s;
    transform-origin: bottom;
}

.actor:hover img {
    filter: grayscale(0%) brightness(1) contrast(1.02);
    height: 100%;
}

.actor-name {
    font-size: 1.1rem;
}

.hidden {
    opacity: 0;
}

.show {
    animation: slideRight 1s forwards; 
}

@keyframes slideAndGrow {
    0% {
        opacity: 0;
        height: 60%;
        transform: translateX(-20%);
    }
    100% {
        opacity: 1;
        height: 100%;
        transform: translateX(0%);
    }
}

@keyframes extendSides {
    0% {
        width: 0%;
        opacity: 0.5;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }
    100% {
        opacity: 1;
        transform: translate(0%)
    }
}


@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translate(-50%,50%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%,-50%);
    }
}

@keyframes zoomAndFade {
    0% {
        transform: scale(1.5);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes slideRightAndFade {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }
    10% {
        opacity: 1;
        transform: translateX(0%);
    }
    90% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-10%);
        opacity: 0;
    }
}

@keyframes slideUpAndFade {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    90% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateX(20);
        opacity: 0;
    }
}

.swiper {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 150px;
    position: relative;
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.swiper-slide i {
    position: absolute;
    font-size: 24px;
    color: rgb(212, 212, 212);
    display: none;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
}

.swiper-slide:hover img {
    opacity: 0.5; 
}

.swiper-slide:hover i {
    display: block; 
}
