@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --primary-color: rgb(22, 22, 22);
    font-family: "Bebas Neue", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    width: 100%;
    z-index: 1000;
}

nav .logo {
    font-weight: 700;
    font-size: 28px;
}

nav .buttons ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav li {
    margin: 0px 10px;
    font-size: 18px;
}

nav a {
    text-decoration: none;
}

.featured-movie {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden; 
    font-family: "Bebas Neue", sans-serif;
}

.featured-movie img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.71) contrast(0.94);
    transform-origin: center;
}

.featured-movie img.animate {
    animation: zoomAndFade 8s linear;
}

.featured-movie::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(to top, rgb(20, 20, 20, 1) 0%, rgb(20, 20, 20, 0) 100%);
}

.featured-movie .text {
    position: absolute;
    bottom: 5%; 
    left: 5%; 
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
}

.featured-movie .text h1 {
    font-size: 6rem;
}

.featured-movie .text h3 {
    font-size: 4rem;
}

.animate-img {
    animation: zoomAndFade 8s linear;
}

.animate-title {
    animation: slideRight 8s ease-in-out forwards; /* animation for text h1 */
}

.animate-subtitle {
    animation: slideUp 8s ease forwards; /* animation for text h3 */
}

.featured-movie .text a {
    padding: 12px 30px;
    margin-top: 10px;
    font-size: 1.1rem;
    text-decoration: none;
    background-color: rgb(20, 20, 20);
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: 1px;
    transform-origin: left;
    transition: 0.3s;
    overflow: hidden;
    cursor: pointer;
}

.featured-movie .text a:hover {
    background-color: white;
    color: black;
}

.movie-list {
    padding: 20px;
}

@keyframes zoomAndFade {
    0% {
        transform: scale(1.5);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }
    10% {
        opacity: 1;
        transform: translateX(0%);
    }
    90% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-10%);
        opacity: 0;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    90% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateX(20);
        opacity: 0;
    }
}































.swiper {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 150px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}