{% extends 'movies/layout.html' %}

{% block title %} {{ actor.name }} {% endblock %}

{% block body %}
   <section class="profile">
      {% if most_popular_movie %}
         <div class="profile-header">
            <img src="{{ most_popular_movie.backdrop_path.url }}" alt="">
            <div class="profile-wrapper">
               <div class="profile-picture">
                  <img src="{{ actor.image.url }}" alt="">
                  <i class="fa-solid fa-camera"></i>
              </div>
               <div class="profile-details">
                  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; margin-top: 2rem; width: 100%;">
                     <div style="display: flex; align-items: center; gap: 10px;">
                        <h1>{{ actor.name }}</h1>
                        <a href="{% url 'follow_content' model_name='actor' object_id=actor.id %}" class="follow-btn">
                           <span>Follow</span>
                           <i class="fa-solid fa-plus"></i>
                       </a>
                     </div>
                     <div class="stats-container">
                        <div class="stat">
                           <h3>{{ actor.movies.count }}</h3>
                           <p>Movies</p>
                        </div>
                        <div class="stat">
                           <h3>{{ follower_count }}</h3>
                           <p>Followers</p>
                        </div>
                        <div class="stat">
                           <h3>{{ actor.avg_movie_rating|floatformat:1 }}</h3>
                           <p>Movie Rating</p>
                        </div>
                        <div class="stat">
                           <h3>#{{ actor_rank }}</h3>
                           <p>Rank</p>
                        </div>
                     </div>
                  </div>
                  <h3>Actor • {{ most_popular_movie }}</h3>
                  <div class="socials-container">
                     <i class="fa-brands fa-facebook"></i>
                     <i class="fa-brands fa-twitter"></i>
                     <i class="fa-brands fa-instagram"></i>
                  </div>
               </div>
            </div>
      </div>     
      {% endif %}
   </section>
   <section class="about">
      <div class="profile-bio">
         <div style="margin-bottom: 20px;">
            <h1>Born</h1>
            <p><i class="fa-solid fa-calendar-days"></i>{{ actor.birth_date }} ({{ age }}) years old</p>
            <p><i class="fa-solid fa-location-dot"></i>{{ actor.birth_place }}</p>
         </div>
         <div>
            <h1>Biography</h1>
            {% if actor.bio != 'No bio yet' %}
               <p>{{ actor.bio }}</p>
            {% else %}
               <p>{{ default_bio }}</p>
            {% endif %}
         </div>
      </div>
      <div class="personal-info">
         <h1>Personal Info</h1>
         <ul>
            <li>
               <h3>Gender<i class="fa-solid fa-venus-mars"></i></h3>
               <p>{{ actor.get_gender_display }}</p>
            </li>
            <li>
               <h3>Nationality <i class="fa-solid fa-flag"></i></h3>
               <p>{{ actor.nationality }}</p>
           </li>
           <li>
               <h3>Height</h3>
               {% if actor.height == 0 %}
                  <p>N/A</p>
               {% else %}
                  <p>{{ actor.height }} cm</p>
               {% endif %}
            </li>
         </ul>
      </div>
   </section>
   <section class="profile-movies">
      <h1>Films Starring <span>{{ actor }}</span></h1>
      <ul>
         {% for movie in movies %}
            <li>{% include 'movies/card.html' %}</li>
         {% endfor %}
      </ul>
   </section>
   <!-- <h1 style="margin-top: 20px;">Often works with</h1>
         <ul class="often-works-with-list">
            {% for co_worker in co_workers %}
               <li>
                  <a href="{% url 'actor-detail' co_worker.0 %}">
                     <img src="{{ co_worker.1.image }}" alt="">
                     <h3>{{ co_worker.1.name }}</h3>
                     <span>{{ co_worker.1.count }} Movies</span>
                  </a>
               </li>
            {% endfor %}
         </ul> -->
{% endblock %}