<form class="image-form" method="POST" enctype="multipart/form-data"">
    <div>
        {% csrf_token %}
        <div class="header">
            <h1>Add Movie Image</h1>
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="image-box">
            <i class="fa-solid fa-upload"></i>
            <img src="" alt="" id="image-preview" style="display: none;">
            <div class="upload-image">{{ form.image }}</div>
            <h3 id="image-name">Upload an image</h3>
        </div>        
        <div>
            <label>Actors:</label>
            {{ form.actors }}
        </div>
        <div>
            <label>Director:</label>
            {{ form.directors }}
        </div>
        <div class="form-actions">
            <button type="reset">Reset</button>
            <button type="submit">Save</button>
        </div>
    </div>
</form>
