<div class="card">
    <div class="image">
        <a href="{% url 'movie-detail' movie.pk %}">
            <img src="{{ movie.poster_path.url }}" alt="{{ movie.title }}">
        </a>
    </div>
    <div class="details">
        <h3>{{ movie.title }}</h3>
        <h4>{{ movie.release_date.year }}</h4>
        <!-- Skeleton placeholder for title -->
        <div class="title-placeholder"></div>
        
        <div class="tags">
            <div class="genre-tag">{{ movie.genres.first }}</div>
            <div class="
                rating-tag 
                {% if movie.avg_rating >= 8 %}
                    high-rating
                {% elif movie.avg_rating >= 5 %}
                    medium-rating
                {% elif movie.avg_rating < 5 and movie.avg_rating > 0 %}
                    low-rating
                {% elif movie.avg_rating == 0 %}
                    unrated
                {% endif %}">
                <i class="fa-solid fa-star"></i>
                {{ movie.avg_rating|floatformat:2 }}
            </div>
                        
            <!-- Skeleton placeholder for tags -->
            <div class="tag-placeholder"></div>
            <div class="tag-placeholder"></div>

        </div>
    </div>
    <!-- Watchlist Button -->
    {% with user.profile.watchlist.movies.all as user_watchlist %}
        {% if movie in user_watchlist %}
            <div class="watchlist-btn watchlisted" data-id="{{ movie.id }}">
                <i class="fa-solid fa-bookmark"></i>
            </div>
        {% else %}
            <div class="watchlist-btn" data-id="{{ movie.id }}">
                <i class="fa-solid fa-bookmark"></i>
            </div>
        {% endif %}
    {% endwith %}
</div>