{% extends 'movies/layout.html' %}

{% block title %} {{ director }} {% endblock %}

{% block body %}
    <div class="director-container">
        <div class="wrapper">
            <div class="director-image">
                <span>Director Biography</span>
                <img src="{{ director.image.url }}" alt="">
            </div>
            <div class="director-details">
                <h1>{{ director.name }}</h1>
                <div class="ranking">
                    <span>#1</span>
                    <p>In Directors</p>
                </div>
                <div class="buttons">
                    <div class="follow-btn">Follow</div>
                    <div class="follow-count">200,000 Followers</div>
                </div>
                <p class="bio">{{ director.bio }}</p>
            </div>
        </div>
        <section class="known-for"> 
            <h3 class="marker">Known For</h3>
            <div class="wrapper">
                {% for movie in known_for %}
                    <div class="known-for-movie">
                        <a href="{% url 'movie-detail' movie.pk %}">
                            <img src="{{ movie.poster_path.url }}" alt="{{ movie.title }}">
                        </a>
                        <div class="overlay">
                            <h3>{{ movie.title }}</h3>
                            <div class="sub-info">
                                <span class="release-year">{{ movie.release_date.year }}</span>
                                <span class="main-genre">{{ movie.genres.first }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="credits">
            <h3 class="marker">Credits</h3>
        </section>
        <section class="videos">
            <h3 class="marker">Videos</h3>
            <div class="wrapper">
                {% if main_video %}
                    <div class="main-video-container">
                        <div class="thumbnail">
                            <img src="{{ main_video.thumbnail.url }}" alt="">
                            <div class="thumbnail-overlay">
                                <i class="fa-solid fa-play"></i>
                            </div>
                            <div class="thumbnail-details">
                                <h3>{{ main_video.name }}</h3>
                                <p>{{ main_video.duration_formatted }}</p>
                            </div>
                        </div>
                        <video src="{{ main_video.video.url }}" type="video/mp4" controls></video>
                        <div class="main-video-details">
                            <h3>{{ main_video.movie }}</h3>
                            <h4>{{ main_video.movie.release_date.year }}</h4>
                            <p>{{ main_video.movie.overview }}</p>
                            <div class="link">
                                <a href="{% url 'movie-detail' main_video.movie.pk %}">View Details</a>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                {% endif %}            
            </div>
        </section>
    </div>
{% endblock %}