{% extends 'movies/layout.html' %}

{% block title %} Edit Movie Image {% endblock %}

{% block body %}
   <form class="image-form edit" id="edit-image" method="POST" enctype="multipart/form-data">
        <div>
            {% csrf_token %}
            <div class="header">
                <div style="display: flex; align-items: center; gap: 10px;">
                    <img src="{{ image.movie.poster_path.url }}" class="poster" alt="{{ movie }}">
                    <div>
                        <h2>Edit Image</h2>
                        <p>{{ image.movie }} ({{ image.movie.release_date.year }})</p>
                    </div>
                </div>
                <i class="fa-solid fa-xmark" id="close-form-btn"></i>
            </div>
            <div class="line"></div>
            <div>
                <div class="image-container">
                    <img src="{{ image.image.url }}" alt="">
                </div>
            </div>
            <div class="form-actions">
                <button type="reset">Reset</button>
                <button type="submit">Save</button>
            </div>
        </div>
    </form>
{% endblock %}