{% extends 'movies/layout.html' %}

{% block title %} MovieVerse Genres {% endblock %}
    
{% block body %}
    <section class="all-genres-list">
        <div class="header">
            <div class="image-container">
                {% for movie in random_images %}
                    <img src="{{ movie.backdrop_path.url }}" alt="">
                {% endfor %}
            </div>
            <div class="overlay">
                <h1>All Genres</h1>
            </div>
        </div>  
        <ul>
            {% for genre, genre_info in genres_and_movies.items %}
                <li>
                    <a href="{% url 'genre-detail' genre_info.2 %}">
                        <img src="{{ genre_info.1 }}" alt="">
                        <h1>{{ genre_info.0 }}</h1>
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% for first_letter, genre in first_letter_and_genre.items %}
            <h3 class="first-letter">{{ first_letter }}</h3>
            <p>{{ genre }}</p>
        {% endfor %}     
    </section>
{% endblock %}