{% extends 'movies/layout.html' %}

{% block body %}
    <section class="hero">
        <div class="featured-movie">
            <img src="media/media/backdrop_VyAOcwH.jpg" alt="">
            <div class="text">
                <h1 id="movie-title">Spider-Man</h1>
                <h3 id="movie-subtitle">Across the Spiderverse</h3>
                <div class="featured-buttons">
                    <a href="movies/155" id="movie-link" class="movie-link">View Details</a>
                </div>
            </div>
        </div>
    </section>
    <div class="movie-list">
        <h3 class="marker">Popular Movies</h3>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {% for movie in popular_movies %}
                <div class="swiper-slide">
                    <a href="{% url 'movie-detail' movie.pk %}">
                        <img src="{{ movie.poster_path.url }}" alt="{{ movie.title }}">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                </div>
              {% endfor %}
            </div>
        </div>
        <h3 class="marker">New Movies</h3>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {% for movie in new_movies %}
                <div class="swiper-slide">
                    <a href="{% url 'movie-detail' movie.pk %}">
                        <img src="{{ movie.poster_path.url }}" alt="{{ movie.title }}">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
    <div class="popular-genres">
        <h3 class="marker hidden">Popular Genres</h3>
        <div class="genre-list">
            {% for genre, genre_info in genre_dict.items %}
                <div class="genre-card hidden">
                    <a href="{% url 'genre-detail' genre_info.2 %}"> 
                        <img src="{{ genre_info.1}}" alt="">
                    </a>
                    <div class="genre-overlay">
                        <!-- genre name -->
                        <h3>{{ genre_info.0 }}</h3> 
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="top-rated">
        <div class="top-rated-wrapper">
            <h3 class="marker hidden">Top Rated Movies</h3>
            {% for movie in top_rated_movies %}
                <div class="top-rated-card hidden">
                    <img src="{{ movie.poster_path.url }}" alt="{{ movie.title }}">
                    <div class="details">
                        <h3>{{ movie.title }}</h3>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <p>{{ movie.avg_rating|floatformat:2 }} | {{ movie.reviews.count }} Reviews</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- add another wrapper for top series later -->
        </div>
    </div>
{% endblock %}