{% extends 'movies/layout.html' %}

{% block body %}
    <section class="hero">
        <img src="media/media/backdrop_VyAOcwH.jpg" alt="">
    </section>
    <div class="movie-list">
        <h3>Popular Movies</h3>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {% for movie in movies %}
                <div class="swiper-slide">
                    <a href="{% url 'movie-detail' movie.pk %}">
                        <img src="{{ movie.poster_path.url }}" alt="{{ movie.title }}">
                    </a>
                </div>
              {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
{% endblock %}