{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'movies/styles.css' %}">
    <link rel="stylesheet" href="{% static 'movies/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'movies/index.css' %}">
    <title>{% block title %} MovieVerse {% endblock %}</title>
</head>
<body>
    <nav>
        <a href = "{% url 'index' %}" class="logo">MovieVerse</a>
        <div class="buttons">
            <ul>
                {% if user.is_authenticated %}
                    <li class="profile-menu">
                        <div class="profile-icon">
                            <span>{{ user.username }}</span>
                            <i class="fa-regular fa-user"></i>
                        </div>
                        <ul class="dropdown-list">
                            <li class="dropdown-item"><a href="">My Profile</a></li>
                            <li class="dropdown-item"><a href="{% url 'logout' %}">Sign out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                {% endif %}
                <li class="menu-bars"></li>
            </ul>            
        </div>
    </nav>
    <div class="main-content">
        {% block body %}
        {% endblock %}
    </div>
    <aside class="sidebar">
        <ul>
            <li><a href="{% url 'movie-list' %}">Movies</a></li>
            <li><a href="">Series</a></li>
            <li><a href="{% url 'genre-list' %}">Genres</a></li>
            <li><a href="">Actors</a></li>
            <li><a href="">Directors</a></li>
        </ul>
    </aside>    
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{% static 'movies/scripts.js' %}"></script>
<script src="{% static 'movies/animations.js' %}"></script>
<script src="{% static 'movies/swiper.js' %}"></script>
</html>
