{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS imports -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    
    <!-- Custom CSS-->
    <link rel="stylesheet" href="{% static 'movies/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'movies/css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'movies/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'movies/css/users.css' %}">
    <link rel="stylesheet" href="{% static 'movies/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'movies/css/search.css' %}">
    <link rel="stylesheet" href="{% static 'movies/css/skeleton.css' %}">
    <title>{% block title %} MovieVerse {% endblock %}</title>
</head>
<body>
    {% include 'movies/partials/navbar.html' %}

    <div class="main-content">
        {% block body %}
        {% endblock %}
    </div>

    <div class="notification">{{ message }}</div>

    <aside class="sidebar">
        <ul>
            <li><a href="{% url 'movie-list' %}">Movies</a></li>
            <li><a href="">Series</a></li>
            <li><a href="{% url 'genre-list' %}">Genres</a></li>
            <li><a href="">Actors</a></li>
            <li><a href="">Directors</a></li>
        </ul>
    </aside>    
</body>

<!-- JS imports -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://unpkg.com/htmx.org@2.0.4"></script>

<!-- JS code -->
<script src="{% static 'movies/js/scripts.js' %}" type="module"></script>
<script src="{% static 'movies/js/animations.js' %}"></script>
<script src="{% static 'movies/js/imageGallery.js' %}" type="module"></script>
<script src="{% static 'movies/js/swiper.js' %}"></script>
<script src="{% static 'movies/js/forms.js' %}" type="module"></script>

</html>
