{% extends 'movies/layout.html' %}

{% block title %}MovieVerse - {{ movie.title }}{% endblock %}

{% block body %}
    {% include 'movies/image-modal.html' %}
    <section class="movie">
        <img class="movie-backdrop" src="{{ movie.backdrop_path.url }}" alt="{{ movie.title }}">
        <div class="movie-header">
            <h1 class="movie-title">{{ movie.title }}</h1>
            <div class="movie-genre-list">
                {% for genre in movie.genres.all %}
                    <a href="{% url 'genre-detail' genre.pk %}" class="movie-genre">{{ genre }}</a>
                {% endfor %}
            </div>
            <div class="sub-info">
                <p class="movie-date">Release Date: {{ movie.release_date }}</p>
                <p class="movie-runtime">Runtime: {{ movie.runtime }}</p>
            </div>
        </div>
        <div class="movie-poster">
            <img src="{{ movie.poster_path.url }}" alt="{{ movie.title }}">
        </div>
    </section>
    <section class="movie-details">
        <div class="movie-overview">
            <div class="description hidden">
                <h1>Overview</h1>
                <p>{{ movie.overview }}</p>
                {% with user.profile.watchlist.movies.all as user_watchlist %}
                    {% if movie in user_watchlist %}
                        <div class="add-watchlist-btn watchlisted" data-id="{{ movie.id }}">
                            <span>Remove from Watchlist</span>
                            <button>-</button>
                        </div>
                    {% else %}
                        <div class="add-watchlist-btn" data-id="{{ movie.id }}">
                            <span>Add to Watchlist</span>
                            <button>+</button>
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
            {% if overview_images %}
                <div class="images">
                {% for image in overview_images %}
                    <img src="{{ image.image.url }}" alt="" class="hidden">
                {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="movie-rating hidden">
            <h3>Rating: </h3>
            <span>{{ movie.avg_rating|floatformat:2 }}</span>
        </div>
        {% if movie.actors.all %}
            <div class="cast">
                <h1 class="hidden">Cast</h1>
                <div class="cast-wrapper">
                    {% for actor in movie.actors.all %}
                        <div class="cast-actor hidden">
                            <a href="{% url 'person-detail' 'actors' actor.pk %}"><img src="{{ actor.image.url }}" alt=""></a>
                            <span class="cast-actor-name">{{ actor }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="cast">
                <h1 class="hidden">No Cast Added Yet</h1>
            </div>
        {% endif %}
        {% if director %}
        <div class="movie-director hidden">
            <h1>Director</h1>
            <div class="image">
                <div class="line"></div>
                <a href="{% url 'person-detail' 'directors' director.pk %}">
                    <img src="{{ director.image.url }}" alt="">
                </a>
                <div class="line"></div>
            </div>
            <h3 class="movie-director-name">{{ director }}</h3>
            {% if director_movies %}
                <div class="movie-director-movies">
                    <span>More movies from the director</span>
                    <div class="wrapper">
                        {% for movie in director_movies %}
                            <div class="card hidden">
                                <a href="{% url 'movie-detail' movie.pk %}">
                                    <img src="{{ movie.poster_path.url }}" alt="">
                                    <div class="card-overlay">
                                        <h3>{{ movie.title }}</h3>
                                        <button>Add to Watchlist</button>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="link hidden">
                        <a href="{% url 'person-detail' 'directors' director.pk %}">View All</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}
        {% if top_reviews %}
            <div class="reviews">
                <h1 class="hidden">Top Reviews</h1>
                <div class="wrapper">
                    {% for review in top_reviews %}
                    <div class="top-review hidden">
                        <h3>{{ review.rating }}/10 Stars</h3>
                        <p>{{ review.description }}</p>
                        <div class="user">
                            <div class="line"></div>
                            <span>{{ review.user }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="awards">
            <h1 class="hidden">Awards and Nominations</h1>
            {% if awards_by_name.items %}
            <ul>
                {% for award_name, award_data in awards_by_name.items %}
                    <li class="award-name hidden">
                        <h2>{{ award_name }}</h2>
                        <span>{{ award_data.win_count }} wins {{ award_data.nomination_count }} Nominations</span>
                        <ul class="award-list hidden">
                            {% for award in award_data.awards %}
                                <li class="award-item">
                                    {% if award.winner %}
                                        <i class="fa-solid fa-trophy winner"></i>
                                    {% else %}
                                        <i class="fa-solid fa-award nominee"></i>
                                    {% endif %}
                                    <div class="award-details">
                                        <h3>{{ award.category }}<span>({{ award.year }})</span></h3>
                                        {% if award.winner %}
                                            <p>{{ award.recipient }} - <span>Winner</span></p>
                                        {% else %}
                                            <p>{{ award.recipient }} - <span>Nominee</span></p>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <h3 class="hidden">No awards</h3>
            {% endif %}
            <div class="gallery">
                <h1 class="hidden">Gallery</h1>
                <div style="display: flex; justify-content: space-between; padding: 10px 20px;">
                    <button class="add-photo-btn">
                       <span>Add photos</span>
                       <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <div class="swiper gallery-swiper">
                    <div class="swiper-wrapper">
                        {% for image in movie.images.all %}
                            <div class="gallery-slide">
                                <div class="image hidden">
                                    <img src="{{ image.image.url }}" alt="" data-id="{{ image.id }}" class="clickable-pic" data-image="{{ image.image.url }}" data-name="{{ movie.title }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>                
            </div>
        </div>
    </section>
    {% include 'movies/add-movie-image.html' %}
{% endblock %}