{% extends 'movies/layout.html' %}

{% block title %}MovieVerse - {{ movie.title }}{% endblock %}
{% block body %}
    <section class="movie">
        <img class="movie-backdrop" src="{{ movie.backdrop_path.url }}" alt="{{ movie.title }}">
        <div class="movie-header">
            <h1 class="movie-title">{{ movie.title }}</h1>
            <div class="movie-genre-list">
                {% for genre in movie.genres.all %}
                    <a href="{% url 'genre-detail' genre.pk %}" class="movie-genre">{{ genre }}</a>
                {% endfor %}
            </div>
            <div class="sub-info">
                <p class="movie-date">Release Date: {{ movie.release_date }}</p>
                <p class="movie-runtime">Runtime: {{ movie.runtime }}</p>
            </div>
        </div>
        <div class="movie-poster">
            <img src="{{ movie.poster_path.url }}" alt="{{ movie.title }}">
        </div>
    </section>
    <section class="movie-details">
        <div class="movie-overview">
            <div class="description hidden">
                <h1>Overview</h1>
                <p>{{ movie.overview }}</p>
                <button class="add-watchlist-btn">Add to Watchlist</button>
            </div>
            {% if overview_images %}
                <div class="images">
                {% for image in overview_images %}
                    <img src="{{ image.image.url }}" alt="" class="hidden">
                {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="movie-rating hidden">
            <h3>Rating: </h3>
            <span>{{ movie.avg_rating|floatformat:2 }}</span>
        </div>
        {% if movie.actors.all %}
            <div class="cast">
                <h1 class="hidden">Cast</h1>
                <div class="cast-wrapper">
                    {% for actor in movie.actors.all %}
                        <div class="cast-actor hidden">
                            <a href="{% url 'actor-detail' actor.pk %}"><img src="{{ actor.image.url }}" alt=""></a>
                            <span class="cast-actor-name">{{ actor }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="cast">
                <h1 class="hidden">No Cast Added Yet</h1>
            </div>
        {% endif %}
        {% if director %}
        <div class="movie-director hidden">
            <h1>Director</h1>
            <div class="image">
                <div class="line"></div>
                <a href="{% url 'director-detail' director.pk %}">
                    <img src="{{ director.image.url }}" alt="">
                </a>
                <div class="line"></div>
            </div>
            <h3 class="movie-director-name">{{ director }}</h3>
            {% if director_movies %}
                <div class="movie-director-movies">
                    <span>More movies from the director</span>
                    <div class="wrapper">
                        {% for movie in director_movies %}
                            <div class="card hidden">
                                <a href="{% url 'movie-detail' movie.pk %}">
                                    <img src="{{ movie.poster_path.url }}" alt="">
                                    <div class="card-overlay">
                                        <h3>{{ movie.title }}</h3>
                                        <button>Add to Watchlist</button>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="link hidden">
                        <a href="{% url 'director-detail' director.pk %}">View All</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}
        {% if top_reviews %}
            <div class="reviews">
                <h1 class="hidden">Top Reviews</h1>
                <div class="wrapper">
                    {% for review in top_reviews %}
                    <div class="top-review hidden">
                        <h3>{{ review.rating }}/10 Stars</h3>
                        <p>{{ review.description }}</p>
                        <div class="user">
                            <div class="line"></div>
                            <span>{{ review.user }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}