{% extends 'movies/layout.html' %}

{% block title %} {{ movie }}'s Images {% endblock %}

{% block body %}

   {% include 'movies/partials/image-modal.html' %}

   <div class="gallery-header">
      <img src="{{ movie.poster_path.url }}" alt="Movie Poster" id="movie-poster" class="clickable-pic" data-id="{{ movie.id }}" data-image="{{ movie.poster_path.url }}" data-name="{{ movie.name }}"> 
      <div>
         <a href="{% url 'movie-detail' movie.id %}">{{ movie }}</a>
         <h4>({{ all_images|length }}) {% if all_images|length > 1 or all_images|length == 0 %} Photos {% else %} Photo {% endif %}</h4>
      </div>
   </div>
   <div style="display: flex; justify-content: space-between; padding: 10px 20px;">
      <button class="add-photo-btn">
         <span>Add photos</span>
         <i class="fa-solid fa-plus"></i>
      </button>
   </div>
   <div>
      <div class="masonry-container">
         <ul class="all-images-gallery">
            {% for image in all_images %}
               <li class="gallery-item">
                  <img 
                  src="{{ image.image.url }}" 
                  alt="" 
                  class="clickable-pic" 
                  data-image="{{ image.image.url }}">
               </li>
            {% endfor %}
         </ul>
      </div>   
   </div>
   {% include 'movies/partials/add-movie-image.html' %}
{% endblock %}