{% extends 'movies/layout.html' %}

{% block title %} MovieVerse - Movies {% endblock %}
    
{% block body %}
    <div class="container">

        {% include 'users/filter-sidebar.html' %}

        <div class="content">

            <!-- add form wrapper here later -->
             {% include 'users/form-wrapper.html' %}

            <ul class="all-movie-list">
                {% for movie in movies %}
                    <li>
                        {% include 'movies/card.html' %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}