{% extends 'movies/layout.html' %}

{% block title %} {{ person.name }}'s Images {% endblock %}

{% block body %}
   {% include 'movies/image-modal.html' %}
   <div class="gallery-header">
      <img src="{{ person.image.url }}" alt="Profile Pic" id="profile-pic" class="clickable-pic" data-id="{{ person.id }}" data-image="{{ person.image.url }}" data-name="{{ person.name }}"> 
      <div>
         {% if person_type == 'Actor' %}
            <a href="{% url 'actor-detail' person.id %}">{{ person }}</a>
         {% else %}
            <a href="{% url 'director-detail' person.id %}">{{ person }}</a>
         {% endif %}
         <h4>({{ all_images|length }}) {% if all_images|length > 1 %} Photos {% else %} Photo {% endif %}</h4>
      </div>
   </div>
   <div style="display: flex; justify-content: space-between; padding: 10px 20px;">
      <button class="add-photo-btn">
         <span>Add photos</span>
         <i class="fa-solid fa-plus"></i>
      </button>
   </div>
   <div>
      <div class="masonry-container">
         <ul class="all-images-gallery">
            {% for image in all_images %}
               <li class="gallery-item">
                  <img 
                  src="{{ image.image.url }}" 
                  alt="" 
                  class="clickable-pic" 
                  data-image="{{ image.image.url }}">
               </li>
            {% endfor %}
         </ul>
      </div>   
   </div>
{% endblock %}