{% extends 'movies/layout.html' %}

{% block title %} {{ person.name }}'s Images {% endblock %}

{% block body %}
   {% include 'movies/image-modal.html' %}
   <ul class="profile-gallery">
      {% for image in all_images %}
         <li>
               <img 
               src="{{ image.image.url }}" 
               alt="" 
               class="clickable-pic" 
               data-image="{{ image.image.url }}">
               <div class="image-placeholder"></div>
         </li>
      {% endfor %}
   </ul>
{% endblock %}