{% extends 'movies/layout.html' %}

{% block title %} Reviews for {{ movie }}{% endblock %}

{% block body %}
    <section class="list-section" id="review-list-section">
        <header class="header">
            <div>
                <h1>Reviews for {{ movie }}</h1>
            </div>
            <div>
                <h3>{{ review_count }} Reviews</h3>
            </div>
        </header>
    </section>
    <main class="list-container" id="review-list-container">

        <div class="form-wrapper">

            <!-- Sort form -->
            <form action="" class="sort-form" id="reviews-sort-form">
                {{ sort_form.as_p }}

                <div class="toggle-slider">
                    <span>Hide Spoilers</span>
                    <div class="slider-track">
                        <div class="slider-thumb {% if hide_spoilers %}active{% endif %}"></div>
                        {% if not hide_spoilers %}
                            <i class="fa-solid fa-angle-right"></i>
                            <i class="fa-solid fa-angle-right"></i>
                            <i class="fa-solid fa-angle-right"></i>
                        {% endif %}
                    </div>
                    <input type="checkbox" 
                        name="hide_spoilers" 
                        id="hide-spoilers-checkbox"
                        {% if hide_spoilers %}checked{% endif %}>
                </div>

                <!-- Show reviews where user is followed -->
                {% if request.user.is_authenticated %}
                    <div class="toggle-slider {% if following %}active{% endif %}">
                        <span>Following</span>
                        <div class="slider-track">
                            <div class="slider-thumb"></div>
                            {% if request.user.is_authenticated %}
                                {% for i in 3|range_template %}
                                    {% if not following %}
                                        <i class="fa-solid fa-angle-right" id="slide-right-icon"></i>
                                    {% else %}
                                        <i class="fa-solid fa-angle-left" id="slide-left-icon"></i>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <input type="checkbox" 
                            name="following" 
                            id="hide-spoilers-checkbox"
                            {% if following %}checked{% endif %}>
                    </div>
                {% endif %}
            </form>

        </div>

        <ul class="review-list">
            {% for review in reviews %}
                <li class="review-list-item">

                    <div class="details">
                        <span class="review-rating"><i class="fa-solid fa-star"></i>{{ review.rating }}</span>
                        <span class="review-date">{{ review.formatted_date }}</span>
                        {% if review.has_spoilers %}<span class="spoiler-warning">Has Spoilers</span>{% endif %}
                        <div class="wrapper">
                            {% if review.has_spoilers %}
                                <button>See review anyway<i class="fa-solid fa-angle-down"></i></button>
                            {% else %}
                                <p class="description">{{ review.description }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="wrapper">

                        <div class="like-count">
                            {% if user in review.likes.all %}
                                <i class="fa-solid fa-heart liked" id="like-btn" data-id="{{ review.id }}"></i>
                            {% else %}
                                <i class="fa-solid fa-heart" id="like-btn" data-id="{{ review.id }}"></i>
                            {% endif %}
                            <span>{{ review.likes.count }} likes</span>
                        </div>

                        <div class="review-user">
                            <a href="{% url 'profile' review.user.id %}">{{ review.user }}</a>
                            <i class="fa-solid fa-angle-right"></i>
                            <img src="{{ review.user.profile.image.url }}" alt="">
                        </div>

                    </div>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}