.watchlist-section {
    padding: 20px;
}

.watchlist-section .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    margin-top: 100px;
    margin-bottom: 50px;
}

.watchlist-section .header::before {
    position: absolute;
    content: '';
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
}

.watchlist-section .header h3 {
    margin-top: 10px;
    color: rgba(255, 255, 255, 1);
    font-weight: 200;
    opacity: 0.7;
}

.watchlist-container {
    display: flex;
}

.watchlist-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border: solid 1px rgba(255, 255, 255, 0.1);
    padding: 20px;
}

.watchlist-item .card {
    height: auto;
    width: 100%;
    max-width: 200px;
    flex-shrink: 0;
    margin-right: 20px;
}

.watchlist-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.watchlist-item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
}

.watchlist-item-details .title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.watchlist-item-details .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-weight: 700;
    border: solid 1px rgba(255, 255, 255, 0.7);
    color: white;
    margin-right: 10px;
}

.watchlist-item-details .movie-year {
    margin-left: 10px;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.7);
}

.watchlist-item-details p {
    margin: 10px 0px;
    max-width: 75%;
    line-height: 1.5rem;
}

.watchlist-item-details p.runtime {
    color: rgb(201, 201, 201);
    margin-top: 20px;
}

.watchlist-item-details .director-and-cast {
    display: flex;
    align-items: center;
    gap: 50px;
}

.watchlist-item-details .cast-list {
    list-style-type: none;
    margin-top: 20px;
}

.watchlist-item-details a {
    position: relative;
    text-decoration: none;
}

.watchlist-item-details a::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: white;
    transform-origin: left;
    transition: 0.15s;
}

.watchlist-item-details a:hover::before {
    width: 100%;
}

.watchlist-item-details .cast-list .wrapper {
    gap: 10px;
}

.watchlist-item-details h3 {
    margin: 10px 0px; 
}

.form-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 5rem;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

.search-form i {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.search-form label {
    display: none;
}

.search-form input {
    font-family: "Electrolize", sans-serif;
    padding: 10px;
    padding-left: 20%;
    margin-left: 10px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    background-color: transparent;
    border-bottom: solid 2px white;
}

.sort-form {
    font-size: 1.25rem;
}

.sort-form select {
    font-family: "Electrolize", sans-serif;
    padding: 10px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;
    cursor: pointer;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    transition: 0.2s;
    border-radius: 2px;
    background-color: rgb(53, 52, 52);
}

.sort-form select:hover {
    background-color: rgb(75, 75, 75);
}

.sort-form option {
    padding: 10px;
    height: 60px;
    background-color: white;
    color: black;
    font-size: 1.1rem;
}

.watchlist-container {
    display: flex;
    align-items: stretch;
    gap: 20px;
    height: 100%;
}

.filter-sidebar {
    flex: 1;
    position: sticky;
    top: 10%; 
    align-self: flex-start;
    max-height: calc(100vh - 20px); 
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 0px;
    display: block;
}

.watchlist-container .content {
    flex: 4;
    margin-top: 10px;
}

.filter-sidebar {
    padding: 10px 0px;
}

.filter-sidebar h1 {
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
    padding-bottom: 10px;
    margin-right: 20px;
}

.filter-sidebar h3 {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 200;
    font-size: 1.2rem;
    margin: 1em 0em;
}

.filter-sidebar h3 i {
    color: rgba(255, 255, 255, 0.7);

    margin-left: 10px;
    cursor: pointer;
}

.filter-button-list {
    list-style-type: none;
    padding-bottom: 10px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
    margin-right: 20px;
    transition: 0.3s;
}

.filter-button-list.hidden {
    display: none;
}

.filter-button {
    margin: 40px 0px;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    accent-color: white;
    color: rgb(20, 20, 20); 
}

.filter-checkbox {
    display: none;
}

.filter-checkbox:checked + label {
    background-color: white;
    color: rgb(20, 20, 20);
    font-weight: 700;
}

.filter-button:hover label {
    background-color: white;
    color: black;
    font-weight: 700;
}

.filter-button label {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    border: solid 1px rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    padding: 10px 20px;
    transition: 0.3s;
}

.range {
    display: flex;
    align-items: center;
    max-width: 70%;
    gap: 10px;
    margin-top: 10px;
}

.slider {
    -webkit-appearance: none; /* Remove default styling */
    flex: 3; /* Full width */
    height: 5px; /* Slider height */
    background: #ddd; /* Track background */
    border-radius: 5px; /* Rounded corners */
    outline: none; /* Remove outline */
    position: relative;
}

.value {
    flex: 1;
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    border-radius: 2px;
    font-size: 0.8rem;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    width: 15px; /* Thumb width */
    height: 15px; /* Thumb height */
    background: #ffffff; /* Thumb color */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Round thumb */
    border: solid 1px black;
    position: relative;
}