<form action="" class="add-to-list-form">
    {% csrf_token %}
    <div class="header">
        <div style="display: flex; align-items: center; gap: 10px;">
            <img src="{{ movie.poster_path.url }}" class="poster" alt="{{ movie }}">
            <div>
                <h2>Add movie to list.</h2>
                <p>{{ movie }} ({{ movie.release_date.year }})</p>
                <input type="hidden" name="movie_id" id="movie-id-input">
            </div>
        </div>
        <i class="fa-solid fa-xmark" id="close-form-btn"></i>
    </div>
    <div class="choose-list-section">
        <h3>Select from your custom lists</h3>
        <ul>
            {% for list in profile.lists.all %}
                <li>
                    <div style="display: flex; align-items: center; gap: 10px;" id="movies-in-list-{{ list.id }}">
                        {% for movie in list.movies.all %}
                            {% if forloop.counter <= 3 %}
                                <img src="{{ movie.poster_path.url }}" alt="" data-id="{{ movie.id }}">
                            {% endif %}
                            <!-- Hidden input for storing the movie ID -->
                            <input type="hidden" data-id="{{ movie.id }}">
                        {% endfor %}
                        <div>
                            <h4>{{ list.name }}</h4>
                            <p id="list-movies-count-{{ list.id }}">{{ list.movies.count }} Titles</p>
                        </div>
                    </div>
                    <input type="checkbox" data-id="{{ list.id }}" value="{{ list.name }}">
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'create-list' %}" id="create-list-link">
            Create new list instead
            <i class="fa-solid fa-angle-right"></i>
        </a>

    </div>
    <div class="form-actions">
        <button type="reset">Reset</button>
        <button type="submit">Save</button>
    </div>
</form>