<div>
    <div class="wrapper">

        <h1 id="list-name">{{ custom_list.name }}</h1>
        {% if request.user == custom_list.profile.user %}
            <i class="fa-regular fa-pen-to-square" id="edit-list-btn"></i>
        {% endif %}

    </div>
    <h3 style="margin-top: 10px;">By <a href="{% url 'profile' custom_list.profile.user.pk %}">{{ custom_list.profile.user }}</a> • Created on {{ custom_list.created_on|date:"F d Y" }}</h3>

</div>

<div style="display: flex; flex-direction: column; gap: 1rem;">
    <div class="wrapper" id="list-stat-wrapper">
        <div class="list-statistic">
            <i class="fa-solid fa-eye"></i>
            <p>{{ custom_list.views }} views</p>
        </div>
        <div class="list-statistic">
            <i class="fa-solid fa-film"></i>
            <p>{{ custom_list.movies.count }} Titles</p>
        </div>
        <div class="list-statistic">
            {% if custom_list.privacy == 'everyone' %}
                <i class="fa-solid fa-globe"></i>
            {% elif custom_list.privacy == 'friends' %}
                <i class="fa-solid fa-user-group"></i>
            {% elif custom_list.privacy == 'only_me' %}
                <i class="fa-solid fa-lock"></i>
            {% endif %}
            <p>{{ custom_list.get_privacy_display }}</p>
        </div>
        <div>
            <i class="fa-solid fa-share-nodes" id="share-btn"></i>
        </div>
    </div>
    <p id="watched-movies-count">You've watched {{ watched_movies_count }} out of {{ custom_list_movies.count }}</p>
</div>