{% extends 'movies/layout.html' %}

{% block title %} {{ custom_list.name }} {% endblock %}

{% block body %}
<section class="list-section">
    <form method="post">
        {% csrf_token %}
        <div class="header" style="align-items: start;">
            <div>
                <div class="wrapper">
                    <h1 id="list-name">{{ custom_list.name }}</h1>
                    <div class="wrapper" id="textarea-wrapper">
                        <textarea class="edit-textarea" name="name" id="list-name-textarea">{{ custom_list.name }}</textarea>
                        {{ form.privacy.as_hidden }}
                        <textarea name="description" style="display:none;">{{ custom_list.description }}</textarea>
                        <button type="submit" name="save_name">Save</button>
                        <button type="button">Cancel</button>
                    </div>
                    {% if request.user == custom_list.profile.user %}
                        <i class="fa-regular fa-pen-to-square" id="edit-list-btn"></i>
                    {% endif %}
                </div>
                <h3 style="margin-top: 10px;">By <a href="{% url 'profile' custom_list.profile.user.pk %}">{{ custom_list.profile.user }}</a> • Created on {{ custom_list.created_on|date:"F d Y" }}</h3>
            </div>
            <div style="display: flex; flex-direction: column; gap: 1rem;">
                <div class="wrapper">
                    <h3>0 Views</h3>
                    <h3>{{ custom_list.movies.count }} Titles</h3>
                    <h3>{{ custom_list.privacy.title }}</h3>
                    <i class="fa-solid fa-share-nodes"></i>
                </div>
                <p id="watched-movies-count">You've watched 0 out of {{ custom_list_movies.count }}</p>
            </div>
        </div>
    </form>
    <div class="list-container">

        {% include 'users/filter-sidebar.html' %}
    
        <div class="content">

            <form id="list-desc-form" method="post">
                {% csrf_token %}
                {{ form.privacy.as_hidden }}

                <div class="wrapper">
                    {% if custom_list.description %}
                        <h3>Description</h3>
                    {% else %}
                        <p id="list-desc">No description yet.</p>
                    {% endif %}

                    {% if request.user == custom_list.profile.user %}
                        <i class="fa-regular fa-pen-to-square" id="edit-list-btn"></i>
                    {% endif %}
                </div>

                <p id="list-desc">{{ custom_list.description }}</p>

                <div class="wrapper" id="textarea-wrapper">
                    <textarea class="edit-textarea" name="description" id="list-desc-textarea">{{ custom_list.description }}</textarea>
                    <div>
                        <div id="buttons">
                            <button type="submit" name="save_description">Save</button>
                            <button type="button">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="line"></div>

            {% include 'users/form-wrapper.html' %} 
    
            <ol>
                {% for movie in custom_list_movies %}
                    {% if view_mode == 'grid' %}
                        <li class="skeleton">
                            {% include 'movies/partials/card.html' %}
                        </li>
                    {% else %}
                        {% include 'movies/partials/movie-list-item.html' %}
                    {% endif %}
                {% endfor %}
            </ol>

        </div>
    </div>
</section>
{% endblock %}
