{% extends 'movies/layout.html' %}

{% block title %} {{ list.name }} {% endblock %}

{% block body %}
    <section class="list-section">
        <form method="post">
            {% csrf_token %}
            <div class="header" style="align-items: start;">
                <div>
                    <div class="wrapper">
                        <h1 id="list-name">{{ list.name }}</h1>
                        <div class="wrapper" id="textarea-wrapper">
                            <textarea class="edit-textarea" name="name" id="list-name-textarea">{{ list.name }}</textarea>
                            {{ form.privacy.as_hidden }}
                            <button type="submit">Save</button>
                            <button type="button">Cancel</button>
                        </div>
                        <i class="fa-regular fa-pen-to-square" id="edit-list-btn"></i>
                    </div>
                    <h3>By <a href="{% url 'profile' list.profile.user.pk %}">{{ list.profile.user }}</a> • Created on {{ list.created_on|date:"F d Y" }}</h3>
                </div>
                <div class="wrapper">
                    <h3>0 Views</h3>
                    <h3>{{ list.movies.count }} Titles</h3>
                    <h3>{{ list.privacy.title }}</h3>
                    <i class="fa-solid fa-share-nodes"></i>
                </div>
            </div>
            <div class="wrapper" style="gap: 0.5rem;">
                {% if list.description %}
                    <p id="list-desc">{{ list.description }}</p>
                {% else %}
                    <p id="list-desc">No description yet</p>
                {% endif %}
                <div class="wrapper" id="textarea-wrapper" style="flex-direction: column;">
                    <textarea class="edit-textarea" name="description" id="list-desc-textarea" placeholder="Add description to your list">{{ list.description }}</textarea>
                    <div style="align-self: flex-end;">
                        <button type="submit">Save</button>
                        <button type="button">Cancel</button>
                    </div>
                </div>
                <i class="fa-regular fa-pen-to-square" id="edit-list-btn"></i>
            </div>
            <div class="list-container">
                <div class="content">
                        
                    <ol>
                        {% for movie in list.movies.all %}
                            {% if view_mode == 'grid' %}
                                <li class="skeleton">
                                    {% include 'movies/card.html' %}
                                </li>
                            {% else %}
                                {% include 'movies/movie-list-item.html' %}
                            {% endif %}
                        {% endfor %}
                    </ol>
        
                </div>
            </div>
        <!-- <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form> -->
        </form>
    </section>
{% endblock %}