{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="content-wrapper">
            <div class="image">
                <img src="{{ random_image.image.url }}" alt="Movie Image">
                <div class="logo">
                    <a href="{% url 'index' %}">MovieVerse</a>
                </div>
                <div class="overlay">
                    <p>Your Ultimate Movie Companion</p>
                </div>
            </div>
            <div class="form-list">
                <div class="header">
                    <h1>Welcome Back</h1>
                    <p>Sign in to access your account.</p>
                </div>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div>
                        <input type="text" name="username" placeholder="Username" id="id_username" required>
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="Password" id="id_password" required>
                    </div>
                    <button type="submit">Sign In</button>
                    <div class="social-signin-divider">
                        <div class="line"></div>
                        <p>or sign in with</p>
                        <div class="line"></div>
                    </div>
                    <div class="social-login-buttons">
                        <i class="fa-brands fa-google"></i>
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-apple"></i>
                        <i class="fa-brands fa-microsoft"></i>
                    </div>
                    {% if form.errors %}
                        <div class="error-messages">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>    
</div>
</body>
</html>