{% extends 'movies/layout.html' %}

{% block title %} MovieVerse Profile - {{ profile }} {% endblock %}

{% block body %}

    {% if request.user == profile.user %}
        {% include 'users/partials/edit-profile-photo-form.html' %}
    {% endif %}

    <section class="profile">
        <header class="profile-header skeleton">
            
            <div class="default-cover-photo"></div>

            <div class="profile-wrapper">
                
                <!-- Profile picture partial for HTMX -->
                <div class="profile-picture-container">
                    <div class="profile-picture">
                        {% include 'users/partials/profile-picture.html' %}
                    </div>
                    {% if request.user == profile.user %}
                        <i class="fa-solid fa-camera" id="edit-profile-photo-btn"></i>
                    {% endif %}
                    <div class="profile-pic-placeholder"></div>
                </div>

                <div class="profile-details">

                    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; margin-top: 2rem; width: 100%;">
                       <div style="display: flex; align-items: center; gap: 10px;">

                            <h1>{{ profile.user }}</h1>
                            {% if request.user != profile.user %}
                                <a href="{% url 'follow_content' model_name='profile' object_id=profile.id %}" class="follow-btn">
                                    {% if is_following %}
                                        <span>Unfollow</span>
                                        <i class="fa-solid fa-minus"></i>
                                    {% else %}
                                        <span>Follow</span>
                                        <i class="fa-solid fa-plus"></i>
                                    {% endif %}
                                </a> 
                             {% endif %}

                            <div class="profile-details-placeholder">
                                <div style="display: flex; gap: 1rem; align-items: center; margin-bottom: 1rem;">
                                   <div class="profile-name-placeholder"></div>
                                   {% if profile.user != request.user %}
                                        <div class="follow-btn-placeholder"></div>
                                   {% endif %}
                                </div>
                            </div>
                            
                        </div>

                        <div class="stats-container">

                            <div class="stat">
                               <h3>{{ profile.watched_movies.count }}</h3>
                               <p>Watched</p>
                            </div>
                            <div class="stat">
                                <h3>{{ following_count }}</h3>
                                <p>Following</p>
                            </div>
                            <div class="stat">
                                <h3>{{ followers_count }}</h3>
                                <p>Followers</p>
                            </div>
                            <div class="stat">
                                <h3>{{ review_count }}</h3>
                                <p>Reviews</p>
                            </div>
       
                            <div class="stat-placeholder">
                               <div></div>
                               <div class="line-placeholder"></div>
                            </div>

                        </div>
                    </div>

                    <!-- social media links -->
                    <div class="socials-container">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                     </div>

                     <div class="social-links-placeholders">
                        <div class="link-placeholder"></div>
                        <div class="link-placeholder"></div>
                        <div class="link-placeholder"></div>
                     </div>

                </div>

            </div>
        </header>
        
        <div class="wrapper" id="profile-section-wrapper">

            <!-- Favorite Movies -->
            <div class="profile-section" id="profile-favorites">
                <div class="banner">
                    <h3>Favorites</h3>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
                {% if profile.favorites.all %}
                    <ul>
                        {% for favorite in profile.favorites.all|slice:3 %}
                            {% include 'movies/partials/card.html' with movie=favorite.content_object %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <h4>No Favorites yet.</h4>
                {% endif %}
            </div>

            <section class="profile-section" id="profile-lists" aria-labelledby="lists-heading">
                <div class="banner">
                    <h3>Lists</h3>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
                {% if profile.lists.all  %}
                    <ul>
                        {% for list in profile.lists.all|slice:1 %}
                            <li>
                                <a href="{% url 'list-detail' list.id %}">
                                    {% include 'movies/partials/custom-list-item.html' %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h4>No lists yet.</h4>
                {% endif %}
            </section>

        </div>

    </section>
{% endblock %}