{% load custom_filters %}

<form class="image-form" method="POST" enctype="multipart/form-data">
    <div>
        {% csrf_token %}
        <div class="header">
            <div style="display: flex; align-items: center; gap: 10px;">
                <img src="{{ movie.poster_path.url }}" class="poster" alt="{{ movie }}">
                <div>
                    <h2>Add Image</h2>
                    <p>{{ movie }} ({{ movie.release_date.year }})</p>
                </div>
            </div>
            <i class="fa-solid fa-xmark" id="close-form-btn"></i>
        </div>
        <!-- First page of form: Upload image section -->
        <div class="image-box">
            <i class="fa-solid fa-upload"></i>
            <img src="" alt="" id="image-preview" style="display: none;">
            <div class="upload-image">{{ form.image }}</div>
            <h3 id="image-name">Upload an image</h3>
        </div>
        <div class="line"></div>   
        <div class="people">
            {% if people_in_film %}
                {% for person in people_in_film|slice:"2" %}
                    <img src="{{ person.image.url }}" alt="">
                {% endfor %}
            {% else %}
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-user"></i>
            {% endif %}
            <i class="fa-solid fa-user"></i>
            <button class="add-person-btn" type="button">
                <p>Add people</p>
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
        <!-- Last page of form: adding people to the image -->
        <div class="add-people-section">
            <div class="back-btn">
                <i class="fa-solid fa-angle-left"></i>   
                <span>Back</span>
            </div>
            <h3>Select from cast and crew</h3>
            <ul>
                {% for person in people_in_film %}
                    <li>
                        <div style="display: flex; align-items: center; gap: 10px;">
                            <img src="{{ person.image.url }}" alt="">
                            <div>
                                <h4>{{ person.name }}</h4>
                                {% if person|is_actor %}
                                    {% with actor_role=actor_roles|get_item:person.pk %}
                                        {% if actor_role %}
                                            <p>{{ actor_role }}</p>
                                        {% endif %}
                                    {% endwith %}
                                {% elif  person|is_director %}
                                    <p>Director</p>
                                {% endif %}
                            </div>
                        </div>
                        {% if person|is_actor %}
                            <input type="checkbox" name="selected_actors" value="{{ person.id }}">
                        {% elif person|is_director %}
                            <input type="checkbox" name="selected_directors" value="{{ person.id }}">
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-actions">
            <button type="reset">Reset</button>
            <button type="submit">Save</button>
        </div>
    </div>    
</form>
