<div class="image-modal-container">
   <i class="fa-solid fa-chevron-left"></i>
   
   <div class="image-modal">
       <img src="" alt="">

       <div class="overlay">
           <div class="image-header"></div>
           <div class="people-in-image"></div>
           <div class="actions">
                <i class="fa-solid fa-angle-down"></i>
                {% if request.user.is_authenticated %}
                    {% if perms.movies.can_edit_image %}
                        <a href="" id="edit-image-link">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    {% endif %}
                {% endif %}
           </div>
       </div>

       <div class="image-controls-container">
           <span class="image-count">1 of {{ all_images_count }}</span>
           <div style="display: flex; align-items: center; gap: 1rem;">
                {% if person %}
                    {% if person_type == 'director' %}
                        <a href="{% url 'person-images' 'directors' person.id %}">
                            <i class="fa-solid fa-grip"></i>
                        </a>
                    {% elif person_type == 'actor' %}
                        <a href="{% url 'person-images' 'actors' person.id %}">
                            <i class="fa-solid fa-grip"></i>
                        </a>
                    {% endif %}
                {% else %}        
                    <a href="{% url 'movie-images' movie.id %}">
                        <i class="fa-solid fa-grip"></i>
                    </a>
                {% endif %}  
               <div class="close-modal-btn">
                   <i class="fa-solid fa-xmark"></i>
               </div>
           </div>
       </div>

       <i class="fa-solid fa-circle-info hidden" id="show-modal-details-btn"></i>
   </div>
   
   <i class="fa-solid fa-chevron-right"></i>
</div>
